#container {
display: flex;
flex-wrap: wrap;
justify-content: center;
max-width: 500px;
border: 2px solid;
padding: 20px;
margin: 50px

}

.grid {
    display: block;
    background: blue;
    width: 40px;
    height: 40px;
    border: 2px solid;
    flex-basis: 20px;     
}